.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.sidebar a:hover {
    background-color: #575757;
}

.spacer {
    height: 25px;
}