* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Uncomment if you want background image in body */
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url('put your image');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

main {
    padding: 20px;
    margin-top: 80px; /* Adjust this to create space below the sidebar */
    flex-grow: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 25px 20px;
    display: inline-block;
    height: 100%;
    line-height: 30px;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a:focus, .sidebar a:active {
    border-bottom: 4px solid #ffcc00;
    background-color: #222;
    padding-bottom: 20px;
}

.sidebar a.active {
    color: #ffcc00;
    border-bottom: 4px solid #ffcc00;
}

.sidebar-logo {
    height: 80px;
    width: 140px; 
    margin-right: auto;
    margin-left: 0%;
}