* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 25px 20px;
    display: inline-block;
    height: 100%;
    line-height: 30px;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a:focus, .sidebar a:active {
    border-bottom: 4px solid #ffcc00;
    background-color: #222;
    padding-bottom: 20px;
}

.sidebar a.active {
    color: #ffcc00;
    border-bottom: 4px solid #ffcc00;
}

.sidebar-logo {
    height: 80px;
    width: 100px; 
    margin-right: auto;
    margin-left: 0%;
}

main {
    margin-top: 80px;
}

.statement-section {
    position: relative;
    background-image: url("photo/portfolio-background-statement.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    min-height: 50vh;
}

.statement-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.statement-text {
    position: relative;
    z-index: 2;
    color: rgb(229, 206, 169);
}

.statement-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.statement-text p {
    font-size: 1.2rem;
}

#portfolio {
    padding: 50px 20px;
    text-align: center;
    background-color: #171616;
    width: 100vw;
}

#portfolio h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: rgb(230, 232, 198);
}

.projects {
    background-image: url("photo/portfolio-background-project.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 100px 0;
    position: relative;
}

.project {
    background-color: #2e3631;
    padding: 20px;
    margin: 15px;
    text-align: center;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px #ffffff66;
    cursor: pointer;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.project.slide-in {
    opacity: 1;
    transform: translateY(0);
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #444;
}

.project h3 {
    margin: 15px 0 10px 0;
    font-size: 1.5rem;
    color: #c9eef1;
}

.open-modal-btn {
    background-color: #7492b3;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.open-modal-btn:hover {
    background-color: #29e2ef;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-modal-btn:hover {
    color: #ff0000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content {
    background-color: #000;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #888;
}

.modal-content h4 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #bfedf5;
}

.modal-content p {
    font-size: 16px;
    color: #a5d2da;
}

.modal-content video {
    max-width: 100%;
    border-radius: 10px;
}

.shared-background {
    background-image: url("photo/portfolio-background-statement.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    padding-top: 20px;
}

.coming-soon {
    text-align: center;
    font-size: 24px;
    color: rgb(229, 206, 169);
    padding: 20px 0;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    padding: 20px;
    color: rgb(229, 206, 169);
    width: 100%;
}

@media (max-width: 768px) {
    .project {
        width: 80%;
    }

    .modal-content {
        width: 90%;
    }

    .sidebar {
        height: 60px;
        padding: 0 10px;
    }

    .sidebar a {
        padding: 15px 10px;
        line-height: 20px;
        font-size: 12px;
    }

    .sidebar-logo {
        height: 60px;
        width: 80px;
    }

    main {
        margin-top: 60px;
    }
}